<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EAMC_Log_Lookup_Tool.Properties.Settings.EUDLoggingConnectionString"
            connectionString="Data Source=EAMCDB400418;Initial Catalog=EUDLogging;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>