<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Log_Lookup_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Log_Lookup_Tool.Properties.Settings>
      <setting name="allowedGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=TEST;Initial Catalog=EUDLogging;Authentication=Active Directory Integrated</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="FallBackScooterPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LDAPRoot" serializeAs="String">
        <value />
      </setting>
      <setting name="LDAPWorkstation" serializeAs="String">
        <value />
      </setting>
      <setting name="OUGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="SiteCode" serializeAs="String">
        <value />
      </setting>
      <setting name="SQLServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Initialized" serializeAs="String">
        <value>False</value>
      </setting>
    </Log_Lookup_Tool.Properties.Settings>
  </applicationSettings>
</configuration>
  
